<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="/styles/styles.css" />
    <link rel="stylesheet" href="/styles/dashboard.css" />
  </head>
  <body>
    <!-- Dashboard -->
    <section class="dashboard-container">
      <!-- Header -->
      <%- include('header') %>

      <!-- Main -->
      <main>
        <!-- Sidebar -->
        <%- include('sidebar') %>

        <!-- View Window -->
        <%- include('viewWindow') %>
      </main>

      <!-- Footer -->
      <%- include('footer') %>
    </section>
  </body>
</html>
