<!-- Header -->
<header>
  <!-- Logo -->
  <a href="/dashboard"><h1 class="logo">📁UpFiler</h1></a>

  <!-- Log Out Btn -->
  <form action="/logout" method="POST">
    <button class="log-out-btn" type="submit">Log Out</button>
  </form>
</header>
