<!-- Header -->
<header>
  <!-- Logo -->
  <h1 class="logo">UpFiler</h1>

  <!-- Log Out Btn -->
  <form action="/logout" method="POST">
    <button class="log-out-btn" type="submit">Log Out</button>
  </form>
</header>
