<!-- Sidebar -->
<aside>
  <!-- New folder/file Btns -->
  <div class="add-new-btns">
    <button id="newFolderBtn">+ New folder</button>
    <button id="newFileBtn">+ New file</button>
  </div>

  <!-- Side Menu -->
  <ul>
    <li>Files</li>
    <li>Folders</li>
    <li>Recent</li>
    <li>Deleted</li>
  </ul>
</aside>
