<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sidebar</title>
    <link rel="stylesheet" href="/styles/sidebar.css" />
    <link rel="stylesheet" href="/styles/dashboard.css" />
    <script src="/js/modal.js" defer></script>
  </head>
  <body>
    <!-- Sidebar -->
    <aside>
      <!-- New folder/file Btns -->
      <div class="add-new-btns">
        <button id="newFolderBtn" class="newFolderBtn">+ New folder</button>
        <button id="newFileBtn" class="newFileBtn">+ New file</button>
      </div>

      <!-- Side Menu -->
      <ul>
        <li>Files</li>
        <li>Folders</li>
        <li>Recent</li>
        <li>Deleted</li>
      </ul>
    </aside>
  </body>
</html>
