<!-- Sidebar -->
<aside>
  <!-- New folder/file Btns -->
  <div class="add-new-btns">
    <button id="newFolderBtn">+ New folder</button>
    <button id="newFileBtn">+ New file</button>
  </div>
</aside>
