<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sidebar</title>
  </head>
  <body>
    <!-- Sidebar -->
    <aside>
      <button class="create-btn">+ Create</button>

      <!-- Side Menu -->
      <ul>
        <li>Files</li>
        <li>Folders</li>
        <li>Recent</li>
        <li>Deleted</li>
      </ul>
    </aside>
  </body>
</html>
