<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
    <link rel="stylesheet" href="/styles/forms.css" />
  </head>
  <body>
    <section class="form-container">
      <!-- Sign Up Form -->
      <form action="/signup" method="POST">
        <h2>Sign Up</h2>
        <div class="input-groups">
          <div class="input-group">
            <label for="fullName">Full name:</label>
            <input
              type="fullName"
              class="form-input"
              id="fullName"
              name="fullName"
              required
            />
          </div>
          <div class="input-group">
            <label for="email">Email:</label>
            <input
              type="email"
              class="form-input"
              id="email"
              name="email"
              required
            />
          </div>
          <div class="input-group">
            <label for="password">Password:</label>
            <input
              type="password"
              class="form-input"
              id="password"
              name="password"
              required
            />
          </div>
          <div class="input-group">
            <label for="confirmPassword">Confirm password:</label>
            <input
              type="password"
              class="form-input"
              id="confirmPassword"
              name="confirmPassword"
              required
            />
          </div>
        </div>
        <button class="sign-up-btn" type="submit">Sign Up</button>
        <hr />
        <p>Already have an account? <a href="/login">Log In</a></p>
      </form>
    </section>
  </body>
</html>
