<section class="view-window">
  <% if (files.length === 0 && folders.length === 0) { %>
    <h3>Nothing added yet. Click "new" to add files or folders.</h3>
  <% } else { %>

    <!-- Folders -->
    <% folders.forEach(folder => { %>
      <div class="folder-card" data-id="<%= folder.id %>">
        <p class="file-name"><%= folder.foldername %></p>
        <p class="file-icon">📁</p>
      </div>
    <% }) %>

    <!-- Files -->
    <% files.forEach(file => { %>
      <div class="file-card">
        <a href="<%= file.url %>" target="_blank"><p class="file-name"><%= file.filename %></p></a>
        <p class="file-icon">📄</p>
      </div>
    <% }) %>
  <% } %>
</section>