<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>View Window</title>
    <link rel="stylesheet" href="/styles/viewWindow.css" />
  </head>
  <body>
    <!-- View Window -->
    <section class="view-window">
      <div>file</div>
      <div>file</div>
      <div>file</div>
      <div>file</div>
      <div>file</div>
      <div>file</div>
      <div>file</div>
      <div>file</div>
      <div>file</div>
      <div>file</div>
      <div>file</div>
      <div>file</div>
      <div>file</div>
      <div>file</div>
      <div>file</div>
      <div>file</div>
    </section>
  </body>
</html>
