<!-- View Window -->
<section class="view-window">

  <!-- File -->
  <% if (files.length === 0) { %>
    <h3>No files added yet. Click "new" to add files</h3>
  <% } else { %>
    <% files.forEach(file => { %>
      <div class="file-card">
        <p><%= file.filename %></p>
      </div>
    <% }) %>
  <% } %>
</section>
