body {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  min-height: 0;
}

/* Sticky header */
header {
  flex-shrink: 0;
  position: sticky;
  z-index: 1;
}

/* Middle row */
.dashboard-body {
  display: grid;
  grid-template-columns: 1fr 6fr;
  flex: 1;
  min-height: 0;
}

/* Main Content */
main {
  overflow-y: auto;
  min-height: 0;
}

/* Footer */
footer {
  flex-shrink: 0;
}

.modal-container {
  display: none;
  height: 100%;
  width: auto;
}

.modal-container-active {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 100;
}
