.view-window {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
  min-height: auto;
}

/* Folders/Files */
.folder-card,
.file-card {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  height: auto;
  width: 150px;
  padding: 20px;
  cursor: pointer;
}

.folder-card:hover,
.file-card:hover {
  background-color: rgb(237, 237, 237);
}

.file-icon {
  font-size: 5rem;
}

.dot-menu {
  background: none;
  border: none;
  font-size: 2rem;
}

.card-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
