.view-window {
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  min-height: 100vh;
}

.view-window div {
  border: 1px solid black;
  height: 200px;
  width: 300px;
}
